PORT=5000

NODE_ENV=development
# when production build is ready, change the NODE_ENV to production and restart the server
# NODE_ENV=production


DATABASE_URL=postgresql://postgres:admin123@localhost:5432/cv_submission?schema=public

JWT_ACCESS_TOKEN=be2afe7e060889a20349340fa6dfcd339300a1679c0837aa85e3a5ff917fbbcd2c11840bae69917ebd5700165c14f6fa2aff0d7f11d2ee1e3f0c0fce31c3d8f7
JWT_REFRESH_TOKEN=637da599161f13d1eeda1a3815daae868e6448cc9b4b2ff7ac019bbd9edcd3ff99f00552b0c76f6929d0b7af12e6f835647b7171249813fbbc406403c7c8fd83
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d


# Email (SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_mail@gmail.com
EMAIL_PASSWORD=your_app_password
EMAIL_FROM=your_mail@gmail.com
EMAIL_FROM_NAME="Your System name"

FRONTEND_URL=http://localhost:3000